.video-overlay-wrapper{
	padding: 10px;
	display: inline-block;
	position: relative;
	background: #fc0;
}
.video-overlay-front{
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.5);
	z-index: 100;
}